[Unit]
Description=ropebotpi

[Service]
User=root
Group=root
WorkingDirectory=/root/ropebotPi/
ExecStart=/root/ropebotPi/start.sh
SyslogIdentifier=ropebotPi
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
